.search {
  width: 350px;
  position: relative;
  padding: 15px;
  padding-right: 40px;
  background-color: var(--gray);
  border-radius: 300px;
  margin-bottom: 50px;
  border: 1px solid var(--text-gray);
}

.label {
  font-size: 1.5em;
  color: black;
  font-weight: 700;
  margin-bottom: 10px;
}

.search input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.2em;
}

.search svg {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--dark-gray);
  cursor: pointer;
  height: 1.4em;
}

.results {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
