@import url("http://fonts.cdnfonts.com/css/lato");
@import url("http://fonts.cdnfonts.com/css/inter");

:root {
  --ff-sans: "Inter", sans-serif;

  --white: #ffffff;
  --gray: #f7f7f7;
  --dark-gray: #666666;
  --text-gray: #a6a6a6;
  --green: #71b557;
}

* {
  font-family: var(--ff-sans);
  box-sizing: border-box;
}

body {
  background-color: var(--white);
}

.lds-ring {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 990;
  background-color: rgba(255, 255, 255, 0.8);
  visibility: hidden;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 150px;
  height: 150px;
  margin: 8px;
  border: 15px solid var(--green);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--green) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
